body {
  background: grey;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
} 

.container {
  padding: 2em;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: space-between;
}

.a {
  width: 100%
}

.b, .c, .d {
  width: 50%;
  justify-content: left;
}

.e, .f, .g {
  width: 20%;
  height: 20%;
}

.h {
  width: 100%;
}
* {
  outline: 3px solid red;
}